/* styles/Home.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  min-height: 100vh;
  width: 100%;
}

.textarea {
  margin-top: 10px;
  width: 50%;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline: none;
  overflow: hidden; /* Prevent scrollbar */
  resize: none; /* Disable manual resize */
  transition: height 0.3s ease-out; /* Smooth transition for height */
}

.button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #555;
  color: white;
  margin-bottom: 20px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #777;
}

.notesContainer {
  width: 80%;
}

.note {
  background-color: #222;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease-out;
}

.note:hover {
  transform: scale(1.02);
}

.timestamp {
  font-size: 12px;
  color: #aaa;
}

.deleteButton {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #444;
  color: white;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}

.deleteButton:hover {
  background-color: #666;
}
